.sub-menu-wrap {
    position: absolute;
    top: 100%;
    right: 9%;
    width: 250px;
    z-index: 1000;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}
.sub-menu-wrap.open-menu {
    max-height: 400px;
}
.sub-menu {
    border: 1px solid #e5e5e5e3;
    background: white;
    padding: 20px;
    margin: 10px;
}
.email-user {
    display: flex;
    align-items: center;
}
.email-user h2 {
    font-weight: 50;
    font-size: smaller;
}
.email-user img {
    border-radius: 50px;
    margin-right: 15px;
    width: 40px;
}
.sub-menu hr  {
    border: 0;
    height: 1px;
    width: 100%;
    background: gray;
    margin: 15px 0 10px;
}
.sub-menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
    background: none;
    border: none;
}
.sub-menu-link p {
    width: 170%;
    margin: 0;
}
.sub-menu-link img {
    width: 40px;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
}
.sub-menu-link span {
    font-size: 22px;
    transition: transform 0.10s;
}
.sub-menu-link:hover span {
    transform: translate(5px);
}
.sub-menu-link:hover p {
    font-weight: 600;
}
